@font-face {
    font-family: "Archive Round Face Script";
    src: url("./font/fonnts.com-830360/") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e8ffe2;
    font-family: sans-serif;
    margin-top: 40px;
    font-family: "Annie Use Your Telescope", cursive;
}


.etch-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.modeselector {
    margin-bottom: auto;
    display: flex;
    margin: 80px 80px 0px 0px;

}


.modeselector input[type="checkbox"] {
    width: 2em;
    height: 2rem;
    accent-color: green;
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 4px;
}

.mode-label {
    color: #ff007f;       
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}

.etch-a-sketch {

    width: 600px;
    height: 650px;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(217, 2, 2, 0.959);

}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-10px, 0) rotate(-2deg); }
    40% { transform: translate(10px, 0) rotate(2deg); }
    60% { transform: translate(-10px, 0) rotate(-2deg); }
    80% { transform: translate(10px, 0) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.etch-a-sketch.shake {
    animation: shake 0.3s ease-in-out;
}



.screen {
    background: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    outline: 5px inset #ccc;
}

.logo-title {
    margin-top: 10px;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 2.2rem;
    color: rgb(255, 242, 2);
    text-shadow: 4px 2px 4px rgba(0,0,0,0.3);
}

.knob {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 20px;
    background: white;
    border-radius: 50%;
    border: 4px solid #aaa;
    box-shadow: inset -4px -4px 10px rgba(0,0,0,0.2),
    inset 4px 4px 10px rgba(255,255,255,0.7),
    0 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;

}

#grid-size-control {
    display: none;
}

.left {
    left: 45px;
}

.right {
    right: 45px;
}

.knob::before {
    content: "";
    position: absolute;
    top: 10px;   
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.knob.left::before {
    background: green;   
}

.knob.right::before {
    background: blue;
}



button {
    padding: 10px 10px;
    color: rgb(1, 128, 1);
    border: none;
    border-radius: 50px;
    background: rgb(255, 242, 2);
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

button:hover {
    background: #f0f0f0;
}


footer {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: rgb(17, 16, 16);
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 900;
    margin: 25px 0px 25px 300px;
}

.footer-img-placeholder img {
    width: 24px;
    height: 24px;
}